<?xml version="1.0"?>
<launch>

    <include file="$(find bitbots_bringup)/launch/load_robot_description_thmos.launch" />
  
    <node name="kick_rviz" pkg="rviz" type="rviz" output="screen" required="true" args="-d $(find bitbots_dynamic_kick)/config/kick.rviz" />
  
    <node name="joint_goal_viz_kick" pkg="bitbots_bringup" type="motor_goals_viz_helper_thmos.py" args="--kick" />
  
    <node name="dynamic_kick" pkg="bitbots_dynamic_kick" type="KickNode" output="screen">
        <rosparam command="load" file="$(find bitbots_dynamic_kick)/config/kick_config.yaml" />
    </node>
    
</launch>
